# Fichiers de configuration locaux (Mots de passe !)
config.local.yaml
.env

# Données (Trop lourd pour Git)
data/
spark-warehouse/
metastore_db/
derby.log

# Fichiers temporaires Python & Spark
__pycache__/
*.pyc
etl.zip
logs/
.pytest_cache/

# IDE
.vscode/
.idea/